{{#imports}}
import {{.}}
{{/imports}}

package generated

sealed interface {{machineTypeName}}State {
{{#states}}
    data object {{typeName}} : {{machineTypeName}}State
{{/states}}
}

data class {{machineTypeName}}Transition(
    val from: {{machineTypeName}}State,
    val event: String,
    val to: {{machineTypeName}}State
)

val {{machineVariableName}}Transitions = listOf(
{{#groupedTransitions}}
{{#transitions}}
    {{machineTypeName}}Transition(
        {{machineTypeName}}State.{{sourceStateTypeName}},
        "{{event}}",
        {{machineTypeName}}State.{{toTypeName}}
    ){{^isLast}},{{/isLast}}
{{/transitions}}
{{/groupedTransitions}}
)
